@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Parisienne', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
/* html {
  overflow-x: hidden;
} */
:root {
  font-size: 62.5%;
  --secondary-color-: #bc804a;
  --secondary-color-accent: #a05d21;
}
/*#region           Header */
header {
  display: flex;
  background-color: black;
  height: calc(3rem + 4vh);
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: auto;
  height: calc(4rem + 10vh);
  margin-left: 2rem;
}
header .liste {
  display: flex;
  justify-content: flex-start;
}
header .liste li {
  transition: all 0.4s ease-in-out;
}
header .liste a {
  color: white;
  text-decoration: none;
  list-style: none;
  margin: calc(1rem + 2vmin);
  font-family: "Roboto", sans-serif;
  font-size: calc(0.5rem + 1.2vw);
  width: 100%;
  height: 100%;
}
header .liste a:hover {
  border: 0px 0px 2px 0px solid white;
  transform: scaleX(1.4);
}
header .toggle {
  width: 40px;
  height: 40px;
  z-index: 100;
  position: absolute;
  right: 50px;
  top: 15%;
  transition: all 0.5s ease;
}
header .toggle:hover {
  cursor: pointer;
}
header .toggle.active:hover .bar-1 {
  transform: translateY(2.1rem) rotate(0);
}
header .toggle.active:hover .bar-3 {
  transform: translateY(0%) rotate(0);
}
header .bar {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: white;
  z-index: 100;
  display: none;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}
header .bar-1 {
  top: 15%;
}
header .bar-2 {
  top: 35%;
}
header .bar-3 {
  top: 55%;
}
header .toggle.active .bar-1 {
  transform: translateY(2.1rem) rotate(45deg);
}
header .toggle.active .bar-2 {
  display: none;
}
header .toggle.active .bar-3 {
  transform: translateY(0%) rotate(-45deg);
}
/* #endregion */
/*#region           Acceuil*/
section.acceuil {
  background-image: url(./img/Acceuil.png);
  background-size: cover;
  width: 100%;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.acceuil .container {
  width: 60%;
}
section.acceuil .container img {
  width: 100%;
}
/* #endregion */
/*#region           Horaire */
section.horaire {
  /* background-image: url(./img/horaire.png); */
  background: linear-gradient(
    rgb(22, 22, 22),
    rgb(43, 43, 43),
    rgba(22, 22, 22)
  );
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10rem 0;
}
section.horaire .top {
  display: flex;
  justify-content: center;
}
section.horaire .top img {
  position: absolute;
  top: -10vh;
  height: 20vh;
  width: 100%;
}
section.horaire .top h1 {
  position: absolute;
  color: white;
  top: -3vh;
  font-family: "Parisienne", cursive;
  font-size: calc(2rem + 3vh);
}
section.horaire .bottom {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
section.horaire .bottom img {
  width: 30%;
}
section.horaire .bottom li {
  list-style: none;
  color: white;
  font-size: calc(1rem + 1.75vh);
  margin: calc(1rem + 0.75vh);
}
section.horaire .line {
  margin: calc(1rem + 3vh);
  height: 2px;
  width: 80%;
  background-color: rgb(188, 128, 74);
  align-self: center;
}
/* #endregion */
/*#region           Nos Menus  */
#nosmenu {
  position: relative;
  padding: 17rem 10rem;
  background: url(./img/menu_bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /*   display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
  grid-auto-rows: minmax(min-content, 1fr);
  /*   align-content: center;
  justify-content: center; */
  /* place-content: center; */
  place-items: center;
}
#nosmenu .nosmenu__title {
  position: absolute;
  top: -10vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(5rem + 10vmax);
  overflow: hidden;
}
#nosmenu .nosmenu__title h2 {
  position: absolute;
  top: 32%;
  z-index: 1;
  color: white;
  font-family: "Parisienne", cursive;
  font-size: calc(1.5rem + 3vmax);
}
#nosmenu .nosmenu__title img {
  transform: rotate(3deg) scaleX(1.1);
  width: 100%;
}
.nosmenu__content {
  display: flex;
  flex-direction: column;
}
.nosmenu__content--menus {
  position: relative;
  background-color: black;
  border: 4px solid var(--secondary-color-accent);
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  place-items: center;
  grid-gap: 3rem;
  margin: 2rem 0;
  width: 80%;
}
.nosmenu__content--menus .imgBox {
  position: relative;
  overflow: hidden;
}
.nosmenu__content--menus .imgBox img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.nosmenu__content--menus .textBox {
  color: white;
  font-family: "Roboto", sans-serif;
}
.nosmenu__content--menus .textBox h3 {
  font-size: calc(2rem + 1vw);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nosmenu__content--menus .textBox p {
  font-size: calc(1rem + 0.7vw);
  font-weight: 300;
  text-transform: uppercase;
  margin: 1rem 0;
}
.nosmenu__content--menus .textBox button {
  background-color: var(--secondary-color-);
  color: white;
  padding: 1rem 3rem;
  font-size: calc(1rem + 1vw);
  border: none;
  margin-top: 2rem;
  transition: background-color 0.2s;
}
.nosmenu__content--menus .textBox button:hover {
  background-color: var(--secondary-color-accent);
  cursor: pointer;
}
/* #endregion */

/*#region Entering under 1000PX */
@media screen and (max-width: 1000px) {
  header {
    justify-content: flex-end;
  }
  header .nav {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    background-color: black;
    top: -1000%;
    transition: all 0.5s ease-in-out;
    justify-content: flex-start;
  }
  header .nav .logo {
    align-self: flex-start;
  }
  header .nav ul {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
  }
  header .nav.active {
    top: 0%;
  }
  header .liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .liste li {
    margin: calc(1rem + 2vh);
    text-align: center;
  }
  header .liste li a {
    font-size: 3rem;
  }
  header .bar {
    display: block;
  }
}
/* #endregion */
/*#region Entering under 650PX */
@media screen and (max-width: 650px) {
  #nosmenu {
    padding: 17rem 0;
  }
  .nosmenu__content--menus {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-auto-rows: min-content;
  }
  #nosmenu {
    grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
  }
}
