@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Parisienne', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
/* html {
  overflow-x: hidden;
} */
:root {
  font-size: 62.5%;
  --secondary-color-: #bc804a;
  --secondary-color-accent: #a05d21;
}
/*#region           Header */
header {
  display: flex;
  background-color: black;
  height: calc(5rem + 5vmin);
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: auto;
  height: calc(5rem + 10vmin);
  margin-left: 2rem;
}
header .liste {
  display: flex;
  justify-content: flex-start;
}
header .liste li {
  transition: all 0.4s ease-in-out;
  list-style: none;
}
header .liste a {
  color: white;
  text-decoration: none;
  list-style: none;
  margin: calc(1rem + 2vmin);
  font-family: "Roboto", sans-serif;
  font-size: calc(0.75rem + 1.2vw);
  width: 100%;
  height: 100%;
}
header .liste a:hover {
  border: 0px 0px 2px 0px solid white;
  transform: scaleX(1.4);
}
header .toggle {
  width: 40px;
  height: 40px;
  z-index: 100;
  position: absolute;
  right: 50px;
  top: 15%;
  transition: all 0.5s ease;
}
header .toggle:hover {
  cursor: pointer;
}
header .toggle.active:hover .bar-1 {
  transform: translateY(2.1rem) rotate(0);
}
header .toggle.active:hover .bar-3 {
  transform: translateY(0%) rotate(0);
}
header .bar {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: white;
  z-index: 100;
  display: none;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}
header .bar-1 {
  top: 15%;
}
header .bar-2 {
  top: 35%;
}
header .bar-3 {
  top: 55%;
}
header .toggle.active .bar-1 {
  transform: translateY(2.1rem) rotate(45deg);
}
header .toggle.active .bar-2 {
  display: none;
}
header .toggle.active .bar-3 {
  transform: translateY(0%) rotate(-45deg);
}
/* #endregion */
/*#region           Acceuil*/
section.acceuil {
  background-image: url(./img/fondAcceuil.jpg);
  background-size: cover;
  width: 100%;
  height: 70vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.acceuil .container {
  width: 60vmin;
}
section.acceuil .container img {
  width: 100%;
}
/* #endregion */
/*#region           Horaire */
#horaire {
  background-image: url(./img/fondHoraire.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}
#horaire .top {
  position: relative;
  width: 100%;
  height: calc(4rem + 8vmax);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
#horaire .top h1 {
  position: absolute;
  color: white;
  font-family: "Parisienne", cursive;
  font-size: calc(1.5rem + 3vmax);
}
#horaire .bottom {
  display: flex;
  width: 100%;
  align-items: center;
}
#horaire .horaire{
  width: 45%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  margin: calc(5rem + 5vmin) calc(10rem + 10vmin);
  padding: calc(2rem + 2vmin);
}
#horaire .ligne{
  position: relative;
  height: 4px;
  width: 100%;
  background-color: #a05d21;
  margin: calc(3rem + 3vh) 0;
  z-index: 2;
}
#horaire .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#horaire .bottom li {
  list-style: none;
  color: white;
  font-size: calc(1.2rem + 1.7vmin);
  margin: calc(1.5rem + 1vh);
}

/* #endregion */
/*#region           Nos Menus  */
#nosmenu {
  position: relative;
  background: url(./img/menu_bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  /*   display: flex;
  align-items: center;
  justify-content: center; */
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
  grid-auto-rows: minmax(min-content, 1fr);*/
  /*   align-content: center;
  justify-content: center; */
  /* place-content: center; */
  /*place-items: center;*/
}
#nosmenu .container{
  margin: calc(1rem + 2vmin) 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
  grid-auto-rows: minmax(min-content, 1fr);
  place-items: center;
}
#nosmenu .nosmenu__title {
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(4rem + 8vmax);
  overflow: hidden;
  background-color: #000;
}
#nosmenu .nosmenu__title h2 {
  position: absolute;
  top: 32%;
  z-index: 1;
  color: white;
  font-family: "Parisienne", cursive;
  font-size: calc(1.5rem + 3vmax);
}
#nosmenu .nosmenu__title img {
  transform: rotate(3deg) scaleX(1.1);
  width: 100%;
}
.nosmenu__content {
  display: flex;
  flex-direction: column;
}
.nosmenu__content--menus {
  position: relative;
  background-color: black;
  border: 4px solid var(--secondary-color-accent);
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  grid-auto-rows: 1fr;
  place-items: center;
  grid-gap: 3rem;
  margin: 2rem 0;
  width: 80%;
}
.nosmenu__content--menus .imgBox {
  position: relative;
  overflow: hidden;
}
.nosmenu__content--menus .imgBox img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.nosmenu__content--menus .textBox {
  color: white;
  font-family: "Roboto", sans-serif;
}
.nosmenu__content--menus .textBox h3 {
  font-size: calc(2rem + 1vw);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nosmenu__content--menus .textBox p {
  font-size: calc(1rem + 0.7vw);
  font-weight: 300;
  text-transform: uppercase;
  margin: 1rem 0;
}
.nosmenu__content--menus .textBox button {
  background-color: var(--secondary-color-);
  color: white;
  padding: 1rem 3rem;
  font-size: calc(1rem + 1vw);
  border: none;
  margin-top: 2rem;
  transition: background-color 0.2s;
}
.nosmenu__content--menus .textBox button:hover {
  background-color: var(--secondary-color-accent);
  cursor: pointer;
}
/* #endregion */
/*#region           Evenements*/
#evenement {
  background-image: url(./img/fondEvenement.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#evenement .evenement__title{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(4rem + 8vmax);
  width: 100%;
  background-color: #000;
}
#evenement .evenement__title img{
  height: 100%;
  width: 100%;
}
#evenement .evenement__title h2{
  position: absolute;
  color: white;
  z-index: 1;
  font-family: 'Parisienne', cursive;
  font-size: calc(1.5rem + 3vmax);
}
#evenement .container{
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: calc(5rem + 5vmin);
}
#evenement .container h1{
  color: rgb(255, 255, 255);
  font-size: calc(2rem + 3.5vmin);
  font-family: 'Roboto', sans-serif;
  margin-bottom: calc(5rem + 5vmin);
  align-self: center;
}
#evenement .container img{
  width: 100%;
}
/* #endregion */
/*#region           Footer  */
footer {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* repeat(auto-fit, minmax(min-content, 1fr)) */
  /* grid-auto-rows: repeat(auto-fit, max-content); */
  place-items: start center;
  grid-gap: 2rem;
  background: #000;
  color: white;
  padding: 7rem 10rem 5rem 10rem;
  font-family: "Roboto", sans-serif;
  -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 7%);
  clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0 7%);
}
footer .footer--logo img {
  max-width: 400px;
}
footer ul {
  list-style: none;
  font-size: calc(0.8rem + 0.5vw);
  width: 100%;
}
footer ul li {
  margin: 2rem 0;
  position: relative;
  text-align: center;
}
footer ul li:first-child {
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  width: fit-content;
  margin: 0 auto 3rem auto;
}
footer ul li:first-child::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 10px;
  background: white;
}
/* footer .footer--contact {
  padding-top: 10rem;
} */
footer .footer--contact li i {
  font-size: 4rem;
  margin-right: 2rem;
  transition: all 0.5 ease;
}
/* footer .footer--contact li.footer--contact_media {
  display: flex;
  justify-content: space-between;
  padding-right: 30%;
  margin-top: 1rem;
} */
footer .footer--contact li.footer--contact_media i:is(:hover, .focus) {
  color: var(--secondary-color-accent);
  cursor: pointer;
}
footer .footer--contact,
footer .footer--adresse {
  width: 100%;
}
/* #endregion  */

/*#region Entering under 1000PX */
@media screen and (max-width: 1000px) {
  header {
    justify-content: flex-end;
  }
  header .nav {
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: black;
    top: -1000%;
    transition: all 0.5s ease-in-out;
    justify-content: center;
  }
  header .nav .logo {
    align-self: flex-start;
  }
  header .nav ul {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
  }
  header .nav.active {
    top: 0%;
  }
  header .liste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: calc(2rem + 3vmin);
  }
  header .liste li {
    margin: calc(1rem + 2vh);
    text-align: center;
  }
  header .liste li a {
    font-size: 3rem;
  }
  header .bar {
    display: block;
  }
}
/* #endregion */
/*#region Entering under 650PX */
@media screen and (max-width: 650px) {
  #nosmenu {
    padding: 17rem 0;
    background-attachment: scroll;
  }
  .nosmenu__content--menus {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-auto-rows: min-content;
  }
  #nosmenu {
    grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
  }
  footer ul li {
    text-align: center;
  }
  footer {
    padding: 7rem 4rem 5rem 4rem;
  }
}
/* #endregion */
/*#region Entering under 500PX */
@media screen and (max-width: 500px) {
  footer {
    padding: 7rem 1rem 5rem 1rem;
  }
  footer ul {
    font-size: calc(1.5rem + 0.5vw);
  }
  footer ul li:first-child {
    font-size: calc(1.8rem + 1vw);
  }
}
/* #endregion */
/*#region Entering under 400PX */
@media screen and (max-width: 400px) {
  footer .footer--logo img {
    max-width: 300px;
    margin-bottom: 2rem;
  }
}
/* #endregion */
